@font-face {
  font-family: 'vibes';
  src: url('./GreatVibes-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.background-image {
  width: 100%;
  min-width: 200px;
  height: 100vh;
}

.fixed-background {
  background: url('./background.jpg');
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  top: 30vh; 
  font-family: 'vibes', cursive;
  font-size: 6rem;
  text-shadow: 5px 5px 10px rgb(56, 55, 55);
}

.nav-bar {
  right: 10px;
  box-shadow: 3px 3px 5px rgb(51, 50, 50);
}

.hidden-nav-bar {
 top: -50px;
 transition: 400ms;
}
.visible-nav-bar {
  top: 10px;
  transition: 400ms;
} 

.arrow-down {
  border: solid white;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(45deg);
}

.bounce {
  text-align: center;
  margin: 0;
  position: absolute;
  bottom: 30px;
  left: 50%;
  animation: bounce 1500ms infinite;
}

@keyframes bounce {

  0%, 20%, 50%, 80%, 100% {       
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}

@media (min-width: 768px) {
  .header {
    top: 40vh;
    font-size: 10rem;
  }
}
