@font-face {
  font-family: 'vibes';
  src: url('./GreatVibes-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.background-image {
  width: 100%;
  min-width: 200px;
  height: 100vh;
}

.fixed-background {
  background: url('./background.jpg');
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  top: 30vh;
  font-family: 'vibes', cursive;
  font-size: 6rem;
  text-shadow: 5px 5px 10px rgb(56, 55, 55);
}

.nav-bar {
  right: 10px;
  box-shadow: 3px 3px 5px rgb(51, 50, 50);
}

.hidden-nav-bar {
  top: -50px;
  transition: 400ms;
}

.visible-nav-bar {
  top: 10px;
  transition: 400ms;
}

.option {
  cursor: pointer;
  background-color: rgb(223, 222, 222);
}

.option-selected {
  background-color: white;
}

.option-not-selected:hover {
  background-color: rgb(204, 198, 198);
}

.arrow-down {
  border: solid white;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(45deg);
}

.bounce {
  text-align: center;
  margin: 0;
  position: absolute;
  bottom: 30px;
  left: 50%;
  animation: bounce 1500ms infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}

.testimonial {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 100%), url('./vegan-table.jpg');
}

.testimonial-title {
  text-shadow: 3px 3px 8px rgb(31, 30, 30);
}

.testimonial-photo {
  width: 6vw;
  min-width: 60px;
  height: 6vw;
  min-height: 60px;
  margin: auto;
}

.testimony {
  line-height: 1rem;
}

.card {
  width: 15vw;
  min-width: 150px;
  height: 15vw;
  min-height: 150px;
  box-shadow: 4px 4px 10px rgb(56, 55, 55);
}

.menu-container {
  padding: 2em;
}

.dish-photo {
  width: 300px;
  height: 150px;
  background-size: cover;
  background-size: 100%;
  background-position: center;
  background-position: bottom;
  background-repeat: no-repeat;
  transition: all 1s ease;
  cursor: pointer;
  border: 1px solid green;
}

.dish-photo:hover {
  background-size: 120%;
}

.dish-box {
  display: inline-block;
  width: 300px;
  height: 180px;
  margin: 1em;
  overflow: hidden;
}

.dish-name {
  font-size: 1.4rem;
  line-height: 1rem;
  margin-top: 0.2em;
}

.contact-form {
  width: 50%;
  min-width: 380px;
  background-color: rgb(144, 255, 144);
  border: 1px solid rgb(68, 67, 67);
  box-shadow: 5px 5px 10px rgb(100, 100, 100);
  margin: 0 auto 0 auto;
}

@media (min-width: 768px) {
  .header {
    top: 40vh;
    font-size: 10rem;
  }
}
